

html{
  font-size: 15px;
  font-family: var(--font-family);
  line-height: 140%;
  letter-spacing: -0.5%;
}

.wrapper{
  min-height: 100vh;
  min-width: 100vh;

}

.container{
  margin: 0 auto;
  width: 80rem;

}

.btn{
  border-radius: 2rem;
  background-color: #485C11;
  width: 128px;
  height: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
  transition: .3s;
}
.btn:hover{
  background-color: #8E9C78;
}
.paragraph{
  color: #6F6F6F;
  font-family: var(--second-family);
}
.caption{
  font-size:12px;
  color: #485C11;
  font-family: var(--third-family);
  font-weight: 400;
}
/* ------------------------- */

.header-top--inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.header-top--logo{
  font-family: var(--second-family);
  font-weight: medium;
  font-size: 30px;
}
.header-top--nav-list{
  display: flex;
  gap: 2rem;
  font-family: var(--second-family);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -2.5%;
}
.header-top--nav-list--item:hover{
  text-decoration: underline;
}

.header-top--btn-link{
  padding: 14px 24px;
  color: #ffffff;
  position:relative;
  transition: .3s;
  letter-spacing: -2.5%;
  font-family: var(--second-family);
  font-size: 14px;
  letter-spacing: -2.5%;
  font-weight: bold;
}

.header-top--btn-link::after{
  content: "";
  display: inline-block;
  width: 7px;
  height: 20px;
  background-image: url("../images/icons/Arrow.svg");
  background-repeat: no-repeat;
  margin-left: 6px; 
  top: 29%;
  position: absolute;
  transition: .3s;
}
.header-top--btn-link:hover::after{
  top: 21%;
}
.header-body{
  padding-bottom: 8.66rem;
}

.header-body--title{
  text-align: center;
  font-size: 160px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 85%;
  letter-spacing: -5%;
  margin: 72px 0 99px 0;
}

.header-body--content{
  min-width: auto;
  height: 24rem;
  padding-top: 12.6rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.header-body--content-image{
  position: absolute;
  left: 11%;
  bottom: -25%;
}

.header-body--content-color--block{
  height: 24rem;
  background-color: #8E9C78;
  border-radius: 30px;
}

.header-body--company-list{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.header-body--company-list--item{
  cursor: pointer;
  transition: .3s;
}
.header-body--company-list--item:hover{
  filter: invert(2);
}

/* ----------  Benefits  -------------- */
.benefits{
  margin-bottom: 120px;
}

.benefits-title{
  font-size: 60px;
  line-height: 90%;
  letter-spacing: -3%;
  font-weight: 400;
  margin: 50px 0;
}


.benefits-list{
  display: flex;
  gap: 20px;
  margin-top: 6rem;
  padding-left: 0;
  margin-bottom: 7rem;
}

.benefits-list--item{
  border-top: 1px rgba(111,111,111, 0.15) solid;
  padding-top: 4rem;
  width: 285px;
}

.benefits-list--item-title{
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -3%;
  font-weight: 400;
  position: relative;
  margin: 24px 0 20px 0;
}

.benefits-list--item-title::before{
  content: "";
  width: 28px;
  height: 28px;
  background-image: url('../images/icons/Cable\ icon.svg');
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  bottom: 24px;
  left: 2%;
  transform: scale(1.5);
}

#benefitsIcon2::before{
  content: "";
  width: 28px;
  height: 28px;
  background-image: url('../images/icons/Earth\ icon.svg');
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  bottom: 24px;
  left: 2%;
  transform: scale(1.5);
}

#benefitsIcon3::before{
  content: "";
  width: 28px;
  height: 28px;
  background-image: url('../images/icons/Account\ icon.svg');
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  bottom: 24px;
  left: 2%;
  transform: scale(1.5);
}

#benefitsIcon4{
  margin-bottom: 18px;
}
#benefitsIcon4::before{
  content: "";
  width: 28px;
  height: 28px;
  background-image: url('../images/icons/Chart\ icon.svg');
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  bottom: 24px;
  left: 2%;
  transform: scale(1.5);
}
.benefits-list--item-paragraph{
  max-width: 265px;
}
#benefits-list--item-paragraph3{
  max-width: 245px;
}
#benefits-list--item-paragraph4{
  max-width: 245px;
}

.benefits-block{
  width: auto;
  max-height: 620px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 120px;
}

.benefits-content{
  display: flex;
  gap: 20px;
}

.benefits-content--text{
  border-top: 1px rgba(111,111,111, 0.15) solid;
  max-width: 590px;
}

.benefits-content--text-title{
  font-size: 60px;
  line-height: 90%;
  letter-spacing: -3%;
  margin: 60px 0 40px 0;
}
.benefits-paragraph{
  margin: 40px 0;
}
.benefits-content--text-list{
  margin-top: 2rem;
}
.benefits-content--text-list--item{
  display: flex;
  gap: 30px;
  border-top: 1px rgba(111,111,111, 0.15) solid;

}
.benefits-content--text-list--item-number{
  display: inline-block;
}

.benefits-content--text-list--item-sentence{
  display: inline-block;
  font-family: var(--second-family);
  max-width: 460px;
}

.benefits-content--text-btn{
  background-color: #DFECC6;
  width: 138px;
  height: 48px;
  margin-top: 2.66rem;
}

.benefits-content--text-btn--link{
  padding: 14px 18px;
  position:relative;
  transition: .3s;
  letter-spacing: -2.5%;
  font-family: var(--second-family);
  font-size: 14px;
  letter-spacing: -2.5%;
  font-weight: bold;
}
.benefits-content--block{
  border-radius: 30px;
  display: flex;
  overflow: hidden;
  max-width: 590px;
  max-height: 711px;
  position: relative;
  justify-content: center;
}

/* --------------------- Specs ------------------------ */
.specs-inner{
  border-top: 1px #929292 solid;
  padding-top: 80px;
}

.specs-caption {
  text-align: center;
}

.specs-title{
  text-align: center;
  font-size: 60px;
  letter-spacing: -3%;
  line-height: 90%;
  margin: 40px 0;
}

.specs-paragraph{
  text-align: center;
  max-width: 720px;
  display: inline-block;
  margin-left: 20%;
}

.specs-btn{
  background-color: #DFECC6;
  width: 138px;
  height: 48px;
  margin-top: 1.66rem;
  justify-self: center;
}

.specs-btn--link{
  padding: 14px 18px;
  position:relative;
  transition: .3s;
  letter-spacing: -2.5%;
  font-family: var(--second-family);
  font-size: 14px;
  letter-spacing: -2.5%;
  font-weight: bold;
}

.specs-content--list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin-top: 100px;
}

.specs-content--list-item{

  justify-self: center;
}
.specs-content--list-item--Area{
  border: solid 1px #E9E9E9;
  border-radius: 20px;
  box-shadow: 0px 2px 8px #E9E9E9;
}

.specs-content--list-item--title{
  display: inline-block;
  border-bottom: 1px #929292 solid;
  text-align: center;
  line-height: 120%;
  letter-spacing: -8%;
  font-size: 25.71px;
  font-family: var(--second-family);
  color: #6F6F6F;
  width: 400px;
  padding: 40px 0 20px 0;
}

.specs-content--list-item--title-Area{
  border-bottom: 1px #000 solid;
  font-family: var(--second-family);
  color: #000000;
  padding-bottom: 19px;
}


.specs-content--list-item--list-item{
  padding: 2rem 3.5rem;
  font-family: var(--third-family);
  font-size: 12px;
  letter-spacing: -1%;
  border-bottom: 1px #E9E9E9 solid;
  border-left: 1px #E9E9E9 solid;
  position: relative;
}

.specs-content--list-item--list-item--Area::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../images/icons/Check\ icon.svg');
  background-repeat: no-repeat;
  position: absolute;
  left: 8%;}
.specs-content--list-item--list-item--Area path{
  fill: #485C11;
}
.specs-content--list-item--list-item--Area:first-child{
  padding-bottom: 1.78rem;
}
.specs-content--list-item--list-item--Area:last-child{
  border-bottom: 0px #E9E9E9 solid;
}


