:root{
  --font-family: "CrimsonText", sans-serif;
  --second-family: "DMSans", sans-serif;
  --third-family: "RobotoMono", sans-serif;
}

@font-face {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  src: local('CrimsonText')
    url("//fonts/CrimsonText-Regular.woff2"),
    url("//fonts/CrimsonText-Regular.woff"),
    url("//fonts/CrimsonText-Regular.otf");
    font-display: swap;
}
@font-face {
  font-family: var(--second-family);
  font-weight: 400;
  font-style: normal;
  src: local('DMSans')
    url("//fonts/DMSans_36pt-Regular.woff2"),
    url("//fonts/DMSans_36pt-Regular.woff"),
    url("//fonts/DMSans_36pt-Regular.otf");
    font-display: swap;
}
@font-face {
  font-family: var(--third-family);
  font-weight: 400;
  font-style: normal;
  src: local('RobotoMono')
    url("//fonts/RobotoMono-Regular.woff2"),
    url("//fonts/RobotoMono-Regular.woff"),
    url("//fonts/RobotoMono-Regular.otf");
    font-display: swap;
}